.slider__wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1080px;
    height: fit-content;
}

.slider__item {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: stretch;
    box-shadow: 0px 4px 8px 1px rgb(0, 0, 0, 0.16);
    background: #F5F5F5;
}

.slider__item__text-content {
    width: 369px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.slider__item__title--wrap {
    width: 340px;
    height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.slider__item__title {
    font-size: 32px;
    font-weight: 600;
    width: 340px;
}



.slider__item__text {
    font-size: 16px;
}

.slider__item__btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.slider__item__img--wrap {
    min-width: 404px;
    max-width: 512px;
    height: 404px;
    overflow: hidden;
}

.slider__item__img {
    min-width: 404px;
    max-width: 577px;
    height: 404px;
}



.btn-section {
    display: flex;
    gap: 20px;
    align-self: center;
}

.prev-slider-btn, .next-slider-btn {
    padding: 6px 10px;
    background-color: #A09B9B;
    color: #fff;
    box-shadow: inset 0px 1px 4px rgb(0, 0, 0, 0.25);
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.prev-slider-btn:hover, .next-slider-btn:hover {
    background-color: #7E7B7B;
}

@media  (max-width: 1030px) {
    .slider__wrap {
        max-width: 960px;
    }
}

@media  (max-width: 1000px) {
    .slider__wrap {
        max-width: 512px;
        margin: 0 auto;
        position: relative;
        gap: 0px;
    }
    .slider__item {
        max-width: 512px;
        flex-direction: column;
        gap: 0px;
    } 
    .slider__item__img--wrap {
        height: 252px;
        width: 100%;
        order: -1;
        height: 252px;
        
        overflow: hidden;
        position: relative;
    }
    .slider__item__img {
        position: absolute;
        right: 32px;
        right: 0;
        bottom: 0;
        width: 100%;
    }
    .slider__item__text-content {
        margin: 40px 20px;
    }
    .slider__item__title--wrap {
        width: 340px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider__item__title {
        font-size: 24px;
        font-weight: 600;
    }
    
    .slider__item__text {
        font-size: 14px;
    }
    .slider__item__btn {
        width: 100%;
        justify-content: space-around;
    }

    .btn-section {
        position: absolute;
        top: 216px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .prev-slider-btn, .next-slider-btn {
        background-color: #514f4f;
    }
    .prev-slider-btn:hover, .next-slider-btn:hover {
        background-color: #3c3a3a;
    }


    .seconary-btn , .prev-btn {
        font-size: 14px;
    }
}

@media  (max-width: 532px) {
    .slider__wrap {
        min-width: 300px;
        
    }
    .slider__item__img--wrap {
        order: -1;
        height: 252px;
        width: 100%;;
        overflow: hidden;
        position: relative;
    }
    .btn-section {
        position: absolute;
        top: 216px;
        display: flex;
        gap: 20px;
        align-self: center;
    }
}

@media  (max-width: 426px) {
    .slider__wrap {
        max-width: 400px;
        
    }
    .slider__item {
        max-width: 400px;
    }
    .slider__item__img--wrap {
        order: -1;
        height: 252px;
        width: 100%;;
        overflow: hidden;
        position: relative;
    }
    .btn-section {
        position: absolute;
        top: 216px;
        display: flex;
        gap: 20px;
        align-self: center;
    }
}

@media  (max-width: 376px) {
    .slider__wrap {
        width: 340px;
        
    }
    .slider__item__img--wrap {
        order: -1;
        height: 252px;
        min-width: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .slider__item__img {
        min-width: 300px;
        width: 100%;
        left: 0px;
    }
    .slider__item__text-content {
        width: 300px;
    }
    .btn-section {
        position: absolute;
        top: 216px;
        display: flex;
        gap: 20px;
        align-self: center;
    }
    .slider__wrap .seconary-btn , .slider__wrap .prev-btn {
        
        width: 300px;
        cursor: pointer;
        font-size: 14px;
      }
}

@media  (max-width: 325px) {
    .slider__wrap {
        width: 300px;
        
    }
    .slider__item__img--wrap {
        order: -1;
        height: 252px;
        min-width: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .slider__item__img {
        min-width: 300px;
        width: 100%;
        left: 0px;
    }
    .slider__item__text-content {
        width: 260px;
        
    }
    .slider__item__title {
        font-size: 24px;
        width: 260px;
        margin-left: -75px;
    }
    .btn-section {
        position: absolute;
        top: 216px;
        display: flex;
        gap: 20px;
        align-self: center;
    }
    .slider__wrap .seconary-btn , .slider__wrap .prev-btn {
        width: 260px;
        cursor: pointer;
        font-size: 14px;
      }
    
}