.container-product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 15px #f5f5f5;
    padding-right: 10px;
}

.count-item--wrap {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pluse, .minus {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8B8989;
    color: #ffff;
    height: 24px;
    width: 24px;
    border: 1px solid;
    cursor: pointer;
}

.pluse:hover, .minus:hover {
    background: #7E7B7B;
}

.pikt {
    width: 232px;
    height: 232px;
}