.product-wrap--ceiling {
    width: 512px;
    cursor: pointer;
    box-shadow: 1px 2px 15px #f5f5f5;
    
}

.product__container--ceiling {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img-wrap--ceiling {
    width: 512px;
    height: 345px;
    overflow: hidden;
}

.img-wrap--ceiling {
    height: 340px;
}
.img__contant--ceiling {
    width: 512px;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.text-container .title {
    font-size: 20px;
    font-weight: 700;
}

.product-wrap--ceiling .seconary-btn,
.product-wrap--ceiling .prev-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 8px 0;
}

.product-wrap--ceiling .button-section {
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}