.grid-container--Ceiling {
    display: grid;
    grid-template-columns: repeat(2, 512px);
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    row-gap: 80px;
}



@media  (max-width: 1034px) {
    .grid-container--Ceiling {
        grid-template-columns: repeat(1, 512px);
        justify-content: center;
    }
}

