.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 232px);
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    row-gap: 80px;
}

.grid-item {
    width: 370px;
}

.product-width {
    &width512px {
        width: 512px;
    }
    &width370px {
        width: 370px;
    }
}

@media  (max-width: 1080px) {
    .grid-container {
        grid-template-columns: repeat(3, 232px);
    }
}

@media  (max-width: 1004px) {
    .grid-container {
        grid-template-columns: repeat(2, 232px);
        justify-content: center;
    }
}

@media  (max-width: 492px) {
    .grid-container {
        grid-template-columns: repeat(1, 232px);
    }
    
}