.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 232px);
    justify-content: space-between;
    gap: 10px;
    row-gap: 80px;
}

.grid-item {
    width: 370px;
}

.product-width {
    &width512px {
        width: 512px;
    }
    &width370px {
        width: 370px;
    }
}