.header {
  box-shadow: 0px 1px 8px rgb(0, 0, 0, 0.25);
  position: fixed;
  width: 100vw;
  margin: 0;
  background-color: #fff;
  z-index: 1;
  height: 86px;
}
.navbar {
  background: none;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
.header__list__item {
  list-style: none;
}
.nav__left-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo {
  max-height: 60px;
  width: auto;
}
.heder__check-box__select {
  border: none;
  font-size: 18px;
  color: #1C2E36;
  cursor: pointer;
  padding: 4px;
}
.header__checkbox__item {
  font-size: 18px;
  padding: 8px;
}
.header__icons {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header__list__item__link {
  text-decoration: none;
  color: #1C2E36;
  font-size: 18px;
  padding: 4px 6px;
}
.header__list__item__link:hover {
  border-bottom: 2px solid #D41E24;
  background-color: #D41E24;
  color: #fff;
  font-weight: 500;
}

.heder__check-box__select {
  outline: none;
}

@media  (max-width: 1000px) {
  .header__logo {
    width: 156px;
    height: auto;
  }
  .header {
    height: 72px;
  }
} 



@media  (max-width: 560px) {
  .header {
    height: 60px;
  }
  .header__logo {
    width: 140px;
    height: auto;
  }
  .nav__left-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .heder__check-box__select {
    border: none;
    font-size: 16px;
    color: #1C2E36;
    cursor: pointer;
    padding: 4px;
  }
  .header__checkbox__item {
    font-size: 16px;
    padding: 8px;
  }
  .header__list__item__link {
    font-size: 16px;
  }
  .bascet-img {
    width: 18px;
    height: auto;
  }
}

@media  (max-width: 426px) {
  .header__logo {
    width: auto;
    height: 36px;
  }
  .heder__check-box__select {
    border: none;
    font-size: 14px;
    color: #1C2E36;
    cursor: pointer;
    padding: 4px;
  }
  .header__checkbox__item {
    font-size: 14px;
    padding: 8px;
  }
  .header__list__item__link {
    font-size: 14px;
  }
}

@media  (max-width: 322px) {
  .header {
    height: 52px;
  }
  .nav__left-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__logo {
    width: auto;
    height: 26px;
  }
  .heder__check-box__select {
    border: none;
    font-size: 12px;
    color: #1C2E36;
    cursor: pointer;
    padding: 4px;
  }
  .header__checkbox__item {
    font-size: 12px;
    padding: 8px;
  }
  .header__list__item__link {
    font-size: 14px;
  }
  .bascet-img {
    width: 18px;
    height: auto;
  }
}