footer {
    background: #F5F5F5;
    padding-top: 24px;
    margin: 0;
    width: 100%;
}

.footer__content {
    width: 100%;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-between;
    text-align: left;
    gap: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid;
}

.footer__top__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
}

.footer__item__title {
    font-weight: 600;
}