body {
  margin: 0;
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1C2E36;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 40px;
}

.main-page {
  position: absolute;
  top: 144px;
  z-index: -1;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-page__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 224px;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 56px;
}

.section-content {
  width: 100%;
}

.section__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.seconary-btn , .prev-btn {
  padding: 9px 0; 
  border: none;
  width: 369px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 1px;
}

.prev-btn, .seconary-btn:hover {
  background-color: #D41E24;
  color: #fff;
  font-weight: 600;
  
  border: 1px solid #BC0707;
}
.prev-btn:hover {
  background-color: #BC0707;
}

.seconary-btn {
  border: 1px solid #A09B9B;
  
  color: #1C2E36;
  background: none;
  font-weight: 600;
}

@media  (max-width: 1080px) {
  .container {
    max-width: 960px;
  }
}

@media  (max-width: 1000px) {
  .container {
    width: calc(100% - 20px);
  }
}

@media  (max-width: 580px) {
  .section__title {
    font-size: 32px;
  }
  .section {
    width: 100%;
  }
}

@media  (max-width: 560px) {
  .section__title {
    font-size: 28px;
  }
  .container {
    max-width: 420px;
  }
}

@media  (max-width: 426px) {
  .section__title {
    font-size: 28px;
  }
  .container {
    max-width: 400px;
  }
}

@media  (max-width: 401px) {
  .section__title {
    font-size: 28px;
  }
  .container {
    width: calc(100% - 20px);
  }
}